* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*body {
		background-color: #70adb5 !important;
}*/

/*a {
	color: #212121;
}*/

#landing {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 50%;
}

.home {
	display: flex;
	align-items: center;
	width: 50%;
	flex-direction: column;
}

html {
  scroll-behavior: smooth;
}


#section-1-info {
	display: flex;
	padding-top: 5vh;
	padding-left: 10px;
	flex-direction: column;
	height: 30vh;
}

#section-1-info > p {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #212121;
}


#mySidenav a {
  position: fixed; /* Position them relative to the browser window */
  left: -10px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 150px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: #ffcbcb; /* White text color */
  border-radius: 5px 5px 5px 5px; /* Rounded corners on the top right and bottom right side */
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

#mySidenav a:hover {
  left: 30px; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#menu {
  top: 120px;
  background-color: #132743;
}

#contact {
  top: 185px;
  background-color: #132743; /* Blue */
}

#locate {
  top: 250px;
  background-color: #132743; /* Red */
}

#gallery {
  top: 315px;
  background-color: #132743 /* Light Black */
}

#landing-link {
	position: absolute;
	top: 825px;
	color: #132743;
	font-family: 'Be Vietnam', sans-serif;
	font-size: 30px;
	background-color: #ffcbcb;
	padding:10px 20px; 
	border-radius: 5px 5px 20px 5px;
}

#section-2 {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 100vh;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 5px;
	margin-top: 2rem;
	background-color: #91b8bd;
	color: #ffffff;
	border-radius: 10px 10px 100px 10px;
}

#section-2-main {
	display: flex;
	flex-direction: column;
}


#section-2 > a {
	padding-bottom: 5px;
	margin-bottom: 5px;
}



ul, li {
	margin-left: 10px;
}

#section-3 {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 45vh;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 5px;
	margin-top: 2rem;
	background-color: #91b8bd;
	color: #ffffff;
	border-radius: 10px 10px 100px 10px;
}



#section-3 > h1 {
	display: flex;
	font-family: 'Be Vietnam', sans-serif;
	font-weight: 900;
	color: #ffffff;
	font-size: 70px;

}

#section-3 > p {
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
}

#skills-info {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}

#know > h2 {
	font-family: 'Be Vietnam', sans-serif;
	font-weight: 900;
	color: #ffffff;
}

#know {
	font-size: 70px;
	width: 60vw;
	text-align: center;
	color: #ffffff;
	background-color: #ffcbcb;
	border-radius: 10px 10px 100px 10px;
}

#tools-2 {
	align-items: center;
	text-align: center;
}

#tools-3 > img {
	height: 85px;
	width: 85px;
	margin-bottom: 10px;
}

#section-4 {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 80vh;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 5px;
	margin-top: 2rem;
	background-color: #91b8bd;
	color: #ffffff;
	border-radius: 10px 10px 100px 10px;
}

#section-4 > h1 {
	display: flex;
	font-family: 'Be Vietnam', sans-serif;
	font-weight: 900;
	color: #ffffff;
	font-size: 70px;
	margin-bottom: 0px;
}

#section-4 > p {
	font-family: 'Roboto', sans-serif;
}

#section-5 {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 80vh;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 5px;
	margin-top: 2rem;
	background-color: #91b8bd;
	color: #ffffff;
	border-radius: 10px 10px 100px 10px;
}

#section-5 > h1 {
	display: flex;
	font-family: 'Be Vietnam', sans-serif;
	font-weight: 900;
	color: #ffffff;
	font-size: 70px;
	margin-bottom: 0px;
}



#photos {
	align-items: center;
	padding: 10px 0px 10px;
	margin: 10px auto;
	background-color: #ffcbcb;
	border-radius: 10px 10px 100px 10px;
	width: 40vw;
}

#feed {
	width: 30vw;
}

#gallery > h2 {
	font-family: 'Be Vietnam', sans-serif;
	font-weight: 900;
	color: #ffffff;
	font-size: 40px;
	margin: 10px auto;
}

.img-thumbnail {
	transition: transform .2s;
}

.img-thumbnail:hover {
	transform: scale(3);
}


.contacts {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	display: flex;
	justify-content: space-around;
	text-decoration: none;
}

.contact-link > a {
	color: #132743;
}
.contact-link {
	color: #132743;
}


footer {
	background-color: #ffcbcb;
	display: flex;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
}

#mailing-list > button {
	height: 40px;
}

#mailing-list {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 30vw;
}

/* desktop 992px wide or less, */
@media screen and (max-width: 1250px) {

	#section-1 {
		float: none;
	    width: 100%;
	  }

	#section-2 {
		display: flex;
		flex-direction: column;
	}

}


/* tablet 800px wide or less, the background color is olive */
@media screen and (max-width: 800px) {


}

/* mobile px wide or less, the background color is olive */
@media screen and (max-width: 370px) {

#quick-links {
	display: flex;
	flex-direction: column;
	width: 5vh;
	font-size: 20px;
	justify-content: center;
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Be Vietnam', sans-serif;
	font-weight: 900;
	background-color: #ffcbcb;
	border-radius: 20px;
}



}


